/* Variáveis de cores */
$c-text-main: #5A5A5A;
$c-neutral: #FFFFFF;
$c-border: #DDDDDD;

/* Variáveis de fontes */
$f-size-default: 100%;
$f-family-main: 'Lato', sans-serif;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
  'huge': 1280px,
);