@use "../abstracts/" as *;

.button {
    border: rem(1) solid rgba(0, 0, 0, 0.1);
    border-radius: rem(4);    
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: rem(34);
    padding: rem(8) rem(12);
    white-space: nowrap;

    &--primary {
        color: $c-neutral;
        background: #404040;

        &:hover {
            color: $c-neutral;
            background: #333333;
            text-decoration: none;
        }
    }
    
    &__icon {
        margin-bottom: rem(10);
    }
}